@import "../../base.scss";

#workspace {
    width: 70%;
    position: relative;
}

#workspace-stage-container {
    margin: auto;
    height: calc(100% - $base-height * 16);
    position: relative;
    background-color: $main-component-color;

    .workspace-stage-canvas {
        margin: auto;
        background: $main-reverse-color;
        border: $base-line-width * 4 solid $main-component-color;
        border-bottom: none;
    }
}
