@import "../../base.scss";

#layout-header {
    height: $base-height * 16;

    @extend %flex-common;
    border-bottom: $base-line-width solid $main-component-color;
    ul {
        margin: 0;
        list-style: none;

        a {
            text-decoration: none;
        }

        li {
            color: $main-text-color;
            padding: 16px;
        }
    }

    ul:first-child,
    ul:last-child {
        @extend %flex-common;

        color: $main-reverse-color;
        li {
            margin: $base-margin * 4 0 $base-margin * 4 0;
            padding: $base-padding * 2;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                border-radius: $base-border-radius;
                background-color: $main-component-color;
            }
        }
    }

    ul:first-child {
        padding-left: $base-padding * 4;
    }

    ul:last-child {
        padding-left: 0;
        padding-right: $base-padding * 4;
    }
}

.header-icons {
    font-size: 125%;
    vertical-align: sub;
    margin-right: $base-margin;
}
