@import "../../base.scss";

#sources {
    @extend %border-right-common;

    width: 25%;
    overflow-y: scroll;
}

#sources-material {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sources-operations {
    h3 {
        color: $main-text-color;
        letter-spacing: $base-width;
        width: 90%;
        margin: auto;
        padding: 1rem 0;
    }

    button {
        display: block;
        width: 90%;
        margin: auto;
        cursor: pointer;
        padding: $base-padding;
    }
}
