@import "../../base.scss";

#sources {
    @extend %border-right-common;

    width: 25%;
    min-width: 350px;
    overflow-y: scroll;
}

#sources-material {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#sources-operations {
    h3 {
        color: $main-text-color;
        letter-spacing: $base-width;
        width: 90%;
        margin: auto;
        padding: 1rem 0;
    }

    button {
        display: block;
        width: 90%;
        margin: auto;
        cursor: pointer;
        padding: $base-padding;
    }
}

#sources-text-boxes {
    text-align: center;
    h1,
    h3,
    p {
        margin: $base-margin * 2;
        padding: $base-padding * 2;
        letter-spacing: $base-width;
        cursor: pointer;
        transition: 0.3s;
        border-radius: $base-border-radius * 2;

        &:hover {
            background-color: $main-text-color;
        }
    }
}
